.g-body-bx1 {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: -10vw;
    margin-top: 1rem;
}
.g-body-bx1 a {
    text-decoration: none;
    color: black;
}
.g-body-bx1 a:hover .g-body-recipe-wrapper {
    transform: scale(1.035);
}
.g-body-recipe-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: .5rem 0;
    transition: all .2s ease;
}
.g-body-recipe-wrapper h1 {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 1rem;
    text-transform: capitalize;
}
.g-body-recipe-wrapper img {
    height: 7.5rem;
    width: auto;
    border-radius: .35rem;
    border: .2rem solid #353535;
}

/* RESPONSIVE */
@media screen and (max-width: 480px) {
    .g-body-bx1 {
        width: 85vw;
        margin-left: 3.25vw;
        flex-direction: row;
        overflow-x: auto;
        padding: 0;
        border: .2rem solid rgba(25, 25, 25, .625);
        border-radius: .5rem;
        margin-bottom: 1.5vh;
        background-color: rgba(25, 25, 25, .25);
    }
    .g-body-recipe-wrapper {
        height: 8.5rem;
        margin: .5rem 1rem;
    }
    .g-body-recipe-wrapper h1 {
        width: 20rem;
    }
}