.recipes-container {
    position: relative;
    top: 5vh;
    min-height: 80vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 12.5rem;
}
.recipes-wrapper {
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.recipes-box-1 {
    flex: 80%;
    min-height: 75vh;
}
.recipes-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
}
.recipes-title-wrapper {
    height: 10vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0 0 1.25rem 1rem;
}
.recipes-title-wrapper h1 {
    font-size: 4.5rem;
    font-weight: 500;
}
#recipes-remove-all {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    color: #222;
    padding-left: .25rem;
    padding-top: .25rem;
    padding-bottom: .5rem;
    text-decoration: underline;
}
#recipes-remove-all:hover {
    cursor: pointer;
    color: red;
}
.recipe-flip-button-front {
    margin: 0 1rem 2rem 0;
    width: 23.5rem;
    height: 4.75rem;
    background-color: #FFD000;
    text-transform: uppercase;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: none;
    outline: none;
    transition: background-color .1s ease;
    cursor: pointer;
}
.recipe-flip-button-front:hover {
    background-color: #ffbb00;
}
.recipe-flip-button-front:active {
    transform: scale(.985);
}
.recipe-flip-front-title {
    font-size: 1.65rem;
    font-weight: 600;
    letter-spacing: -.035rem;
    word-spacing: -.025rem;
}
.recipe-flip-front-plus {
    padding-right: .5rem;
    font-size: 2.65rem;
    font-weight: 700;
}
.recipe-flip-button-back {
    margin: 0 1rem 2rem 0;
    width: 23.5rem;
    height: 4.75rem;
    background-color: #FFD000;
    text-transform: uppercase;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    outline: none;
    transition: background-color .1s ease;
}
.recipe-flip-text-cancel {
    cursor: pointer;
    height: 3rem;
    margin-left: .575rem;
    margin-right: .75rem;
}
.recipe-flip-text-form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.recipe-flip-text-input {
    width: 15rem;
    height: 2.5rem;
    font-size: 2.25rem;
    background-color: #FFD000;
    outline: none;
    border: none;
    border-bottom: .1rem solid #555;
    padding: .175rem 0;
}
.recipe-flip-text-input::placeholder {
    color: black;
    opacity: .5;
    font-size: 1.85rem;
    letter-spacing: -.025rem;
    word-spacing: -.075rem;
}
.recipe-flip-text-submit-wrapper {
    height: 4.75rem;
    width: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFD000;
    border: none;
    border-radius: 0 10px 10px 0;
}
.recipe-flip-text-submit {
    margin-left: -.25rem;
    border-radius: 50%;
    height: 3.5rem;
}
.recipe-flip-text-submit:hover {
    cursor: pointer;
    animation: bounce 1.75s infinite;
}
@keyframes bounce {
    0%, 60%, 80%, 100% {transform: translateX(0);} 
    20% {transform: translateX(-.35rem);} 
    40% {transform: translateX(.25rem);}
} 
.my-recipes-seperator {
    position: absolute;
    margin-right: 5vw;
    width: 64vw;
    height: .25rem;
    background-color: gray;
}
.recipes-footer {
    height: 15vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 4rem 1rem 0 0;
}
.recipes-footer h1 {
    font-size: 2.75rem;
    line-height: 3rem;
    font-weight: 400;
    text-align: center;
    padding-top: .25rem;
}
.recipes-footer span {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    padding-left: 1rem;
}
.saved-recipe-wrapper {
    margin: 3rem 0;
    min-height: 15vh;
}
.recipes-box-2 {
    flex: 20%;
    height: fit-content;
    border-left: 2px solid gray;
    margin-left: 4rem;
    margin-right: -4rem;
}
.recipes-shopping-list-wrapper {
    padding: 1.15rem 0 0 3.5rem;
}
.recipes-shopping-lists-title {
    font-size: 2.25rem;
    font-weight: 600;
}
.recipes-shopping-list-wrapper span {
    font-weight: 800;
    color: #252525;
}
.recipes-shopping-lists-content-seperator {
    height: .2rem;
    width: 13.5vw;
    background-color: gray;
    margin: 1rem 0;
}
.recipes-shopping-lists-container {
    padding-left: .125rem;
    margin-top: 2rem;
}
#recipes-list-item-wrapper {
    position: relative;
}
.recipes-shopping-lists-container h1 {
    border: 1px solid black;
    font-size: 2.25rem;
    font-weight: 400;
    max-width: 18rem;
    margin: 1.5rem 0;
    padding: 1rem 2.85rem 1rem 1rem;
    border-radius: .75rem;
    min-height: 2.5rem;
    color: #222;
    background-color: rgba(255, 255, 255, 0.5);
}
.recipes-shopping-lists-container h1:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.65);
    cursor: pointer;
}
#recipes-list-item {
    text-decoration: none;
}
#recipes-list-item-delete {
    position: absolute;
    height: 3rem;
    width: 3rem;
    right: .5rem;
    top: .825rem;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
    transition: all .1s ease;
}
#recipes-list-item-delete:hover {
    transform: scale(1.075);
}
#recipes-list-item-delete:active {
    transform: scale(.95);
}
.find-recipes-message-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13.5vh;
}
.find-recipes-message-wrapper img {
    margin-right: 1rem;
    height: 9.25rem;
}
.find-recipes-message-wrapper h1 {
    margin-left: 1rem;
    font-size: 2.75rem;
    font-weight: 400;
    color: #555;
}

/* RESPONSIVE */
@media screen and (max-width: 480px) {
    .recipes-container {
        position: relative;
        top: 5vh;
        min-height: 40vh;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 12.5rem;
    }
    .recipes-header {
        justify-content: space-around;
        width: 90vw;
        margin-left: -5vw;
    }
    .recipes-wrapper {
        width: 80vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .recipes-box-1 {
        width: 80vw;
        min-height: 40vh;
    }
    .recipes-box-2 {
        margin-left: 0;
        margin-right: 0;
        width: 80vw;
        margin-bottom: 6.5rem;
    }
    .recipes-shopping-lists-content-seperator {
        height: .2rem;
        width: 18rem;
        background-color: gray;
        margin: 1rem 0;
    }
    .recipes-shopping-lists-container h1 {
        font-size: 2.25rem;
        max-width: 18rem;
        margin: 1.5rem 0;
        padding: 1rem 12.5rem 1rem 12.5rem;
        min-height: 2.5rem;
        text-align: center;
    }
    .recipes-shopping-lists-container {
        padding-left: .125rem;
        margin-top: 2rem;
    }
    #recipes-list-item-delete {
        right: 1rem;
    }
    .recipes-title-wrapper {
        height: 7.5vh;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        margin: 0 0 2rem 1rem;
    }
    .recipes-title-wrapper h1 {
        font-size: 3.35rem;
    }
    .recipe-flip-button-front {
        margin: 0 1rem 3rem 0;
        width: 21rem;
    }
    .recipe-flip-front-title {
        font-size: 1.475rem;
    }
    .recipe-flip-front-plus {
        padding-right: .5rem;
        font-size: 2.5rem;
    }
    .recipe-flip-button-back {
        margin: 0 1rem 3rem 0;
        width: 21rem;
    }
    #recipes-remove-all {
        font-size: 1.25rem;
        padding-top: .5rem;
    }
    .my-recipes-seperator {
        margin-right: 0;
        width: 80vw;
        height: .25rem;
        background-color: gray;
    }
    .recipes-footer {
        margin: 4.25rem 1rem 0 0;
        height: 12.5vh;
    }
    .recipes-footer h1 {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
    .recipes-footer span {
        font-size: 2.85rem;
    }
    .recipe-flip-text-cancel {
        height: 2.5rem;
        margin-left: .75rem;
    }
    .recipe-flip-text-input {
        width: 12.75rem;
        height: 2.25rem;
        font-size: 2rem;
        padding: .25rem 0;
    }
    .recipe-flip-text-input::placeholder {
        font-size: 1.65rem;
    }
    .recipe-flip-text-submit-wrapper {
        width: 4rem;
    }
    .recipe-flip-text-submit {
        height: 3rem;
    }
}
@media screen and (max-width: 390px) {
    .recipes-title-wrapper h1 {
        font-size: 3rem;
    }
    .recipes-shopping-lists-container h1 {
        padding: 1rem 10rem 1rem 10rem;
    }
    #recipes-remove-all {
        font-size: 1rem;
        padding-top: .5rem;
    }
    .recipe-flip-button-front {
        margin: 0 1rem 3rem 0;
        width: 18.75rem;
        height: 4rem;
    }
    .recipe-flip-front-title {
        font-size: 1.3rem;
    }
    .recipe-flip-front-plus {
        padding-right: .5rem;
        font-size: 2.125rem;
        font-weight: 700;
    }
    .recipe-flip-button-back {
        margin: 0 1rem 3rem 0;
        width: 18.75rem;
        height: 4rem;
    }
    .recipe-flip-text-cancel {
        height: 2rem;
    }
    .recipe-flip-text-input {
        width: 11rem;
        height: 2.25rem;
        font-size: 2rem;
        padding: .075rem 0;
    }
    .recipe-flip-text-input::placeholder {
        font-size: 1.5rem;
    }
    .recipe-flip-text-submit-wrapper {
        height: 4rem;
        width: 3.5rem;
    }
    .recipe-flip-text-submit {
        margin-left: -.25rem;
        height: 2.5rem;
    }
}