.navbar-container {
    top: 0;
    width: 100%;
    height: 13.5vh;
    background: radial-gradient(circle, rgba(244,244,244,1) 0%, rgba(96,165,250,1) 80%);    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px -2px gray;
    z-index: 9999;
}
.navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.navbar-box-one {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 22.5%;
}
.navbar-logo {
    text-decoration: none;
    font-size: 4rem;
    font-weight: 800;
    color: #111;
    letter-spacing: -.05rem;
    cursor: pointer;
}
.navbar-logo span {
    color: #3586ff;
    font-weight: 800;
    padding-left: .185rem;
}
.navbar-box-two {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 56.5%;
}
.navbar-search {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-search input {
    height: 4.35rem;
    width: 55rem;
    outline: none;
    border: none;
    border-radius: .5rem 0 0 .5rem;
    padding-left: 1.75rem;
    font-size: 2.125rem;
    font-weight: 500;
    background-color: #fff;
    border-top: 2px solid #555;
    border-left: 2px solid #555; 
    border-bottom: 2px solid #555;
}
.navbar-search input:focus { 
    border-color: #3586ff;
    box-shadow: 0 0 8.5px #3586ff;
}
#navbar-search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.75rem;
    width: 6.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 0 .5rem .5rem 0;
    background-color: #ddd;
    border-top: 2px solid #555;
    border-right: 2px solid #555; 
    border-bottom: 2px solid #555;
}
#navbar-search-btn:hover {
    background-color: #ccc;
}
.navbar-search input:focus + #navbar-search-btn { 
    border-color: #3586ff;
    box-shadow: 0 0 8.5px #3586ff;
}
#navbar-search-btn img {
    height: auto;
    height: 3.5rem;
}
.navbar-box-three {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 10.5%;
}
.navbar-recipes-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-recipes-box img {
    position: relative;
    height: 7.5rem;
    width: auto;
}
.navbar-recipes-box p {
    font-family: monospace;
    position: absolute;
    font-size: 3rem;
    font-weight: 700;
    color: #252525;
}
.navbar-box-four {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 10.5%;
}
.navbar-user-greeting {
    font-size: 1.4rem;
    font-weight: 500;
    top: 1.75rem;
    position: absolute;
}
.navbar-user-greeting span {
    font-weight: 600;
}
.navbar-logout-button {
    background-color: #222;
    border: none;
    color: white;
    padding: .775rem 1.2rem;
    margin: 1.2rem 0;
    margin-top: 2.5rem;
    box-shadow: 0 .1rem .6rem #3586ff;
    width: 100%;
    border-radius: .5rem;
    font-size: 2rem;
    cursor: pointer;
}

/* RESPONSIVE */
@media screen and (max-height: 850px) {
    .navbar-container {
        height: 17.5vh;
    }
    .navbar-user-greeting {
        top: 2.5rem;
    }
    .navbar-logout-button {
        margin-top: 3rem;
    }
    #navbar-search-btn {
        height: 4.8rem;
    }
    .navbar-logo {
        font-size: 3.75rem;
    }
}
@media screen and (max-height: 750px) {
    .navbar-container {
        height: 17.5vh;
    }
    .navbar-logout-button {
        margin-top: 4rem;
    }
    #navbar-search-btn {
        height: 4.9rem;
    }
}
@media screen and (max-width: 1000px) {
    .navbar-container {
        height: 20vh;
    }
    .navbar-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75%;
        margin-top: 6.5%;
    }
    .navbar-box-one {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 55%;
    }
    .navbar-box-two {
        position: absolute;
        margin-top: 15%;
    }
    .navbar-box-three {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 25%;
    }
    .navbar-box-four {
        flex: 15%;
    }
    .navbar-wrapper {
        margin-bottom: 15rem;
    }
    .navbar-logo {
        font-size: 4.75rem;
        font-weight: 800;
        color: #111;
        letter-spacing: -.05rem;
        cursor: pointer;
    }
    .navbar-user-greeting {
        font-size: 1.6rem;
        top: 2.5rem;
    }
    .navbar-logout-button {
        margin-top: 4rem;
    }
    .navbar-search input {
        height: 4.5rem;
        width: 60rem;
    }
    #navbar-search-btn {
        height: 5.075rem;
    }
}
@media screen and (max-width: 480px) {
    .navbar-container {
        height: 20vh;
    }
    .navbar-wrapper {
        width: 90%;
        margin-top: 2.5vh;
    }
    .navbar-box-one {
        flex: 50%;
    }
    .navbar-box-two {
        position: absolute;
        margin-top: 15%;
    }
    .navbar-box-three {
        flex: 25%;
    }
    .navbar-box-four {
        flex: 25%;
    }
    .navbar-wrapper {
        margin-bottom: 10rem;
    }
    .navbar-logo {
        font-size: 3.25rem;
    }
    .navbar-user-greeting {
        font-size: 1.5rem;
        top: 1rem;
    }
    .navbar-search input {
        height: 4.5rem;
        width: 40rem;
    }
    #navbar-search-btn {
        height: 5rem;
        width: 7rem;
    }
}
@media screen and (max-width: 450px) {
    .navbar-wrapper {
        margin-top: 2.5vh;
    }
    .navbar-logo {
        font-size: 3rem;
    }
    .navbar-user-greeting {
        font-size: 1.25rem;
        top: 1.5rem;
    }
    .navbar-search input {
        width: 35rem;
    }
    .navbar-recipes-box img {
        height: 7rem;
    }
    .navbar-logout-button {
        margin: 1.2rem 0;
        margin-top: 2.5rem;
        font-size: 1.6rem;
    }
    .navbar-user-greeting {
        top: 1rem;
    }
}
@media screen and (max-width: 410px) {
    .home-display-messsage img {
        width: 25rem;
    }
    .navbar-container {
        height: 20vh;
    }
    .navbar-wrapper {
        width: 90%;
        margin-top: 5vh;
    }
    .navbar-box-one {
        flex: 50%;
    }
    .navbar-box-two {
        position: absolute;
        margin-top: 17.5%;
    }
    .navbar-box-three {
        flex: 25%;
    }
    .navbar-box-four {
        flex: 25%;
    }
    .navbar-user-greeting {
        font-size: 1.25rem;
        top: 1rem;
    }
    .navbar-search input {
        width: 30rem;
    }
    .navbar-logo {
        font-size: 2.5rem;
    }
    .navbar-logout-button {
        margin-top: 1.5rem;
    }
}